.profile{
    background-color: #171717;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 15vh);
}

.icon-img-desktop{
    max-width: 100%;
    padding: 0.1rem 4rem;
}

.profile-text{
    color: #fff;
    padding: 0.1rem 4rem;
}

.profile h1{
    margin-top: 5px;
    font-size: 3.4rem;
    color: #FF7300;
}

.profile p:not(:first-child) {
    font-size: 1rem;
    letter-spacing: 1.3px;
    margin-bottom: 40px;
    color: #A9A9A9;
}

.small-hero{
    font-size: 1.3rem;
}

.container-btn-profile{
    display: flex;
    gap: 20px;
}

.container-btn-profile a{
    gap: 5px;
    text-decoration: none;
}

.btn-curriculo{
    border: 2px solid #FF7300;
    background-color: #FF7300;
    color: #ffff;
    padding: 14px;
    border-radius: 5px;     
    font-weight: 600;
    transition: 0.2s ease-in-out all;
    display: flex;
    align-items: center;
}

.btn-curriculo:hover{
    background-color: transparent;
    border: 2px solid #FF7300;
    color: #FF7300;
    padding: 14px;    
}

.btn-certificados{
    border: 2px solid #fff;
    color: #fff;
    padding: 14px;
    border-radius: 5px;
    font-weight: 600;     
    transition: 0.2s ease-in-out all;
    display: flex;
    align-items: center;  
}

.btn-certificados:hover{
    background-color: #fff;
    border: 2px solid #fff;
    color: #171717;
    padding: 14px;
}

@media screen and (max-width: 768px){

    .profile{
        display: flex;
        flex-direction: column;
    }
    
    .icon-img-desktop{
        display: none;
    }

    .profile-text h1{
        font-size: 2rem;
    } 
    
    .profile p:not(:first-child) {
        font-size: 0.8rem;
        letter-spacing: 1.3px;
        margin-bottom: 40px;
        color: #A9A9A9;
    }

    .container-btn-profile{
        display: flex;
        flex-direction: column;
    }

    .btn-curriculo, .btn-certificados{
        align-items: center;
        justify-content: center;
    }
}